.App {
  text-align: center;
}


.container{
  border: .2em solid #D7BEA8;
  background-color: #FED9DC;
  border-radius: 5px;
  width:  35%;
  margin: auto
}


/* .container button{
  background-color: #4e0af1;
  border-radius: 25%;
  padding: 5px;
  font-size: 1em;
  color: white;
} */

.img{
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 50%;
}


.form{
  border: .2em solid #D7BEA8;
  background-color: #FED9DC;
  border-radius: 5px;
  width:  65%;
  padding: 20px;
  margin: auto
}

.deleteBtn {
    float: right;
    border-radius: 30%;
    background-color: red;
}


.contriBtn{
  background-color: #4e0af1;
  border-radius: 30%;
  padding: 5px;
  font-size: 1em;
  color: white;
}


.search-box{
    margin-top: 20px;
    /* border-radius: 40%; */
    padding: 8px;
    background-color: #D3D3D3;
}



.container.liked{
    background-color: #00FA9A;
}

.container.disliked{
    background-color: #DC143C;
}





